@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
}

header{
    height: 90px;
    background-color: #262626;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #44b874;
    text-align: center;
    font-size: 12px;
    padding: 30px 0px;
    color: #333;
}

#menu{
    float: right;
    padding: 30px 0;
}

#menu a{
    text-decoration: none;
    text-shadow: 1px 1px 1px #111;
    font-size: 22px;
    padding: 30px 40px;
    color: #e3e3e3;
}

#menu a:hover{
    background-color: #44b874;
}

#conteudo{
    padding: 100px 0px;
}
